// Your settings for Typesettings :)
$font-sans: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-serif: Georgia, 'Times New Roman', serif;
$font-mono: 'Lucida Console', Monaco, monospace;
$text-color: #000;
$base-vertical-unit: 10px;
$base-line-multi: 3;      //base line divider
$base-font-size: 16px;
$ms-ratio: 1.618;
$paragraph-indent: true;
$paragraph-justify: true;
$load-typesetted: true;
