/// Reset default list styles

@mixin reset-list() {
  margin: 0;
  padding: 0;
  list-style: none;
}

/// Removes any scrollbar from current container
///
/// 1. IE 10+
/// 2. Firefox
/// 3. Chrome, Safari

@mixin hide-scrollbar() {
  -ms-overflow-style: none; ///[1]
  overflow: -moz-scrollbars-none; ///[2]
  &::-webkit-scrollbar {
    display: none; ///[3]
  }
}

/// Removes arrow controls from inputs with number type

@mixin hide-number-arrows() {
  input[type="number"] {
    -moz-appearance: textfield;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

/// Removes improper links styling for phone-like numbers on touch devices
///
/// 1. Disable targeting for this element
/// 2. Remove link styles

@mixin no-pointer-events() {
  pointer-events: none; ///[1]
  a {
    text-decoration: none; ///[2]
    color: inherit; ///[2]
  }
}
