<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible"
          content="ie=edge">

    <title>Document</title>

    <link rel="stylesheet" href="css/styles.css">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
</head>
<body class="site-body">
<header class="page-header">
    <div class="container grid-container">

        <button class="hamburger hamburger--slider"
                type="button"
                aria-label="Menu"
                aria-controls="navigation">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>

        <nav id="navigation">
            <!--navigation goes here-->
        </nav>

    </div>
</header>
<main class="site-main">