/// Setup default grid parameters for your project.
/// $neat-grid will be used up to $xs breakpoint according to mobile first approach

$neat-grid: (
  gutter: 10px,
  color: rgba(#00d4ff, 0.5)
);

/// Setup grid parameters to other screen widths if needed

$xs-grid: (
  media: $bp__xs
);

$sm-grid: (
  media: $bp__sm
);

$md-grid: (
  media: $bp__md
);

$lg-grid: (
  media: $bp__lg
);

$xl-grid: (
  media: $bp__xl
);
