/// Setup default grid parameters for your project.
/// $neat-grid will be used up to $xs breakpoint according to mobile first approach
/// Useful articles links:
///   https://derekshirk.com/upgrading-working-new-neat-2-0-grid/
///   https://robots.thoughtbot.com/the-release-of-neat-2-0-a-lightweight-and-flexible-sass-grid

$neat-grid: (
  gutter: 10px,
  color: rgba(#00d4ff, 0.5)
);

/// Setup grid parameters to other screen widths if needed

$xs-grid: (
  media: $bp__xs
);

$sm-grid: (
  media: $bp__sm
);

$md-grid: (
  media: $bp__md
);

$lg-grid: (
  media: $bp__lg
);

$xl-grid: (
  media: $bp__xl
);
