// COLORS
$color__selection-highlight: #b3d4fc;
$color__brand-primary: #fff;
$color__brand-secondary: #fff;

// SOCIAL COLORS
$facebook: #3b5998;
$twitter: #1da1f2;
$vkontakte: #45668e;
$googleplus: #dc4e41;
$pinterest: #bd081c;
$skype: #00aff0;
$spotify: #1db954;
$instagram: #4e433c;
$tumblr: #2b4964;
$vimeo: #86b32d;
$soundcloud: #f76600;
$youtube: #ff3333;
$linkedin: #4875b4;
$flickr: #fe0883;
$foursquare: #8fd400;

// BREAKPOINTS
$bp__xs: 480px;
$bp__sm: 768px;
$bp__md: 992px;
$bp__lg: 1200px;
$bp__xl: 1500px;

// TRANSITIONS
$transitions: (
  prop: all,
  time: .2s,
  func: ease
)